html {
  background-color: rgb(29, 27, 27);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropzone {
  height: 50%;
  width: 50%;
  /* margin: 1rem; */
  padding: 1rem;
  border: 10px dashed salmon;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(143, 118, 118, 0.5);
  backdrop-filter: blur(3px);
  /* z-index: 999; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(238, 225, 225);
  /* filter: blur(4px); */
}

.active {
  border: 2px solid rebeccapurple;
}

.fadein {
  background-color: gray;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button3 {
  margin: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1.4em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  color: #FFFFFF;
  background-color: #b3354a;
  text-align: center;
  transition: all 0.2s;
  border: none;
}

.button3:hover {
  background-color: #a72c2c;
}

.button2 {
  margin: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1.4em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  color: #FFFFFF;
  background-color: #8392d4;
  text-align: center;
  transition: all 0.2s;
  border: none;
}

.button2:hover {
  background-color: #4095c6;
}

.button4 {
  margin: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1.4em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  color: #FFFFFF;
  background-color: #76be94;
  text-align: center;
  transition: all 0.2s;
  border: none;
}

.button4:hover {
  background-color: #369b4c;
}

/* @media all and (max-width:30em){
   .button3{
    display:block;
    margin:0.2em auto;
   }
  }; */